* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: grid;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
    line-height: 1.6;
    color: #222;
    background-color: #eee;
}

header {
    position: sticky;
    padding: 1rem;
    background-color: #111111c6;
}

.titulo {
    color: white;
}

.link-simples {
    text-decoration: none;
    color: #fff;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.barra {
    display: none;
    background-color: rgba(0, 255, 255, 0.549);
    flex-direction: column;
    text-decoration: none;
    list-style: none;
    gap: 1rem;
    padding: 1rem;

}

.barra.ativo {
    display: flex;
}

.barra a {
    color: black;
    text-decoration: none;
    list-style: none;
    font-weight: bold;
}

.menu {
    display: flex;
    flex-direction: column;
    
}

.hamburger {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    align-self: flex-start;
    background-color: rgba(0, 255, 255, 0.549);
    width: 100%;
    text-align: left;
}

.bilhetes {
    display: flex;
    color: #E5E7EB;
    flex-direction: column;
    background-color: #121826;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.filtro {
    background-color: #9CA3AF;
}

.botao {
    color: white;
    background: cornflowerblue;
    cursor: pointer;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    width: fit-content;
    transition-duration: 0.3s;
    border: 2px solid transparent;
}

.botao:hover{
    transition-duration: 0.3s;
    background-color: blueviolet;
    padding: 0.6rem 1.3rem;
    border: 2px solid blueviolet;
    box-shadow: 5px 5px 10px 5px #aaa;
}   

main {
    flex-grow: 1;
    flex: 1;
}

.programacao {
    background-color: #9CA3AF;
    padding: 2rem;
}

.programacao-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.evento {
    padding: 1rem;
    border: 0.5px #111 solid;
    border-radius: 8px;
}

.evento[data-palco="principal"] {
    background-color: #E5E7EB;
}

.evento[data-palco="arena-warzone"] {
    background-color: red;
}

.evento[data-palco="arena-redsec"] {
    background-color: blue;
}

.evento[data-palco="principal-palestra"] {
    background-color: #E5E7EB;
}

.patrocinio {
    max-height: fit-content;
}

.apoio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
}

.apoio img {
    border-radius: 12px;
}

.telemovel {
    display: none;
    margin-top: 10px;
}

fieldset:has(input[value="mbway"]:checked) .telemovel {
    display: block;
}

.modal-completo {
    justify-content: center;
    align-items: center;
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.modal-conteudo{
    background: #fff;
    padding: 2rem;
    width: 90%;
    max-width: 400px;
    border: none;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
}

.modal-conteudo legend {
    display: table;
    float: left;
    width: 100%;
    padding: 0 10px;
    font-weight: bold;
    color: #333;
}

.opcoes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    width: fit-content
}

.botoes {
    display: flex;
    justify-content: center;
    gap: 10px;
}

footer p {
    text-align: center;
    padding: 1rem;
    background: #111;
    color: #fff;
}

.nav-icons {
    background-color: rgba(0, 255, 255, 0.549);
    text-align: center;
}
.nav-icons img {
    margin: 10px 5px 0px 0px;
    width: 20px;
}

@media (max-width: 768px) {
    .logo {
        display: none;
    }
} 

@media (min-width: 768px) {
    .barra {
        display: flex;
        flex-direction: row;
    }
    
    .hamburger {
        display: none;
    }

    .programacao-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .nav-icons {
        text-align: end;
    }

    .apoio {
        flex-direction: row;
    }

    .logo {
        width: 50%;
    }
}

form div {
    margin: 10px 0px;
}

.form-contactos input[type="text"],
.form-contactos input[type="email"], 
textarea {
    border-radius: 5px;
    border: 1px solid #444;
    padding: 5px;
    background-color: #ffffff85;
    width: 100%;
  max-width: 400px; /* ajusta ao teu gosto */
  padding: 10px;
  box-sizing: border-box;
    
}

.container-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container-flex img {
    margin: 10px;
    height: 450px;
    width: 270px;
    border-radius: 20px;
    border: 1px solid #d5d5d5;
    box-shadow: 5px 5px 10px 2px #aaa;
}

.info-box article{
    background-color: cornflowerblue;
    border-radius: 20px;
    padding: 20px;
}

.container {
    width: 80%;
    background-color: #ffffffb2;
    margin: auto;
    padding: 100px;
}

.bg-contactos {
    background-image: url('../assets/image/bg-setup.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}