* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: grid;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
    line-height: 1.6;
    color: #222;
    background-color: #eee;
}

header {
    position: sticky;
    padding: 1rem;
    background-color: #121826;
}

.titulo {
    color: white;
}

.titulos-white-center {
    color: #fff;
    text-align: center;
    font-size: 2rem;
    padding: 10px;
    text-shadow: 2px 2px 1px #121826;
    font-weight: 700;
    letter-spacing: 3px;
}

.link-simples {
    text-decoration: none;
    color: #fff;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.nav-links:hover {
    color: #fff;
}

.barra {
    display: none;
    background-color: rgba(0, 255, 255, 0.549);
    flex-direction: column;
    text-decoration: none;
    list-style: none;
    gap: 1rem;
    padding: 0.4rem 1rem;
}

.barra.ativo {
    display: flex;
}

.barra a {
    color: black;
    text-decoration: none;
    list-style: none;
    font-weight: bold;
}

.menu {
    display: flex;
    flex-direction: column;
    
}

.hamburger {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    align-self: flex-start;
    background-color: rgba(0, 255, 255, 0.549);
    width: 100%;
    text-align: left;
}

.alinhar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
    background-color: #ffffffb2;
    margin: auto;
    padding: 3% 5%;
}

.bilhetes {
    display: flex;
    color: black;
    flex-direction: column;
    background-color: #ffffff85;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.bilhetes-escolha {
    display: flex;
    color: black;
    flex-direction: column;
    background-color: #ffffff85;
    align-items: flex-start;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #444;
    padding: 5px;
}

.pagamento {
    border-radius: 5px;
    border: 1px solid #444;
    padding: 5px;
    background-color: #ffffff85;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.filtro {
    background-color: cornflowerblue;
    padding: 5px 0px;
    color: #fff;
}

.botao {
    color: white;
    background: cornflowerblue;
    cursor: pointer;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    width: fit-content;
    transition-duration: 0.3s;
    border: 2px solid transparent;
}

.botao:hover{
    transition-duration: 0.3s;
    background-color: blueviolet;
    padding: 0.6rem 1.3rem;
    border: 2px solid blueviolet;
    box-shadow: 2px 2px 10px 1px rgba(100, 148, 237, 0.534);
}   

main {
    flex-grow: 1;
    flex: 1;
}

.programacao {
    background-color: #9CA3AF;
    padding: 2rem;
}

.programacao-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.evento {
    padding: 1rem;
    border: 0.5px #111 solid;
    border-radius: 8px;
}

.evento[data-palco="principal"],
.evento[data-palco="arena-warzone"],
.evento[data-palco="arena-redsec"],
.evento[data-palco="principal-palestra"] {
    background-color: #e5e7ebbd;
}

.evento:hover {
    background-color: #121826;
    color: #fff;
    border: 1px solid blueviolet;
}

.patrocinio {
    max-height: fit-content;
    background-color: #121826
}

.apoio {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 3rem;
    flex-wrap: wrap;
}

.apoio img {
    border-radius: 12px;
    max-width: 100%;
    height: auto;  
}

.cartao {
    display: none;
    margin-top: 10px;
}

fieldset:has(input[value="cartao"]:checked) .cartao {
    display: block;
}

.telemovel {
    display: none;
    margin-top: 10px;
}

fieldset:has(input[value="mbway"]:checked) .telemovel {
    display: block;
}

.borda-fieldset {
    border: none;
}

legend {
    display: none;
}

.modal-completo {
    justify-content: center;
    align-items: center;
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.modal-conteudo{
    background: #fff;
    padding: 2rem;
    width: 90%;
    max-width: 400px;
    border: none;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
}

.modal-conteudo legend {
    display: table;
    float: left;
    width: 100%;
    padding: 0 10px;
    font-weight: bold;
    color: #333;
}

.opcoes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    width: fit-content
}

.botoes {
    display: flex;
    justify-content: center;
    gap: 10px;
}

footer p {
    text-align: center;
    padding: 1rem;
    background: #121826;
    color: #fff;
}

.nav-icons {
    background-color: rgba(0, 255, 255, 0.549);
    text-align: center;
}
.nav-icons img {
    margin: 10px 5px 0px 0px;
    width: 20px;
}

@media (max-width: 768px) {
    .logo {
        display: none;
    }
} 

@media (min-width: 768px) {
    .barra {
        display: flex;
        flex-direction: row;
    }
    
    .hamburger {
        display: none;
    }

    .programacao-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .nav-icons {
        text-align: center;
    }

    .apoio {
        flex-direction: row;
        gap: 6rem;
    }

    .logo {
        width: 50%;
    }
}

form div {
    margin: 10px 0px;
}

#form-contactos input[type="text"],
#form-contactos input[type="email"], 
textarea, #dia {
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #ffffff85;
    width: 100%;
    max-width: 400px;
    padding: 10px;
    box-sizing: border-box;
}

#form-bilhetes input[type="text"],
#form-bilhetes input[type="email"], 
#form-bilhetes input[type="number"],
#form-bilhetes input[type="email"] {
    border-radius: 5px;
    border: 1px solid #444;
    padding: 3px;
    background-color: #ffffff85;
}

#dia {
    width: fit-content;
}

.container-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container-flex img {
    margin: 10px;
    height: 450px;
    width: 270px;
    border-radius: 20px;
}

.container-flex img:hover {
    background-color: #121826;
    padding: 5px;
}

.info-box article{
    background-color: cornflowerblue;
    border-radius: 20px;
    padding: 20px;
    margin: 4rem 1rem;
}

.container {
    width: 80%;
    background-color: #ffffffb2;
    margin: auto;
    padding: 3% 5%;
}

.bg-contactos, #programacao, .bg-bilhetes {
    background-image: 
    linear-gradient(
      rgba(143, 143, 143, 0.30),
      rgba(143, 143, 143, 0.30)
    ),
    url('../assets/image/bg-setup.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#programacao > section {
    margin-bottom: 4rem;
}

/*Vídeo do background*/
.video-background {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  background-color: #111;
}

.video-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}

/*Vídeos da página sobre*/
.video-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 */
}

.video-container video,
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.margem-texto {
    padding-left: 2rem;
}

.bg-sobre {
    background-color: #121826;
}

img {
    transition-duration: 0.5s;
}

.mapa-container {
  display: flex;
  justify-content: center;
  margin: 20px 0 40px 0;
}

.p-sobre {
  color: #fff;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;  /* vertical */
  align-items: center;      /* horizontal */
  text-align: center;
  height: 100%;
}

.container-media {
    margin: 3rem 0;
    padding: 2rem 0;
    background-color: #626262;
}