* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: grid;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
    line-height: 1.6;
    color: #222;
    background-color: #eee;
}

header {
    position: sticky;
    padding: 1rem;
    background-color: #111;
}

.titulo {
    color: white;
}

.link-simples {
    text-decoration: none;
    color: #fff;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.barra {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style: none;
    gap: 1rem;
}

.barra a {
    color: black;
    text-decoration: none;
    list-style: none;
}

.bilhetes {
    display: flex;
    color: #111;
    flex-direction: column;
    background-color: #f4f4f4;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.bilhetes button, div button {
    color: white;
    background: cornflowerblue;
    cursor: pointer;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    width: fit-content;
    transition-duration: 0.3s;
    border: 2px solid transparent;
}

#comprar:hover, .btn-enviar:hover{
    transition-duration: 0.3s;
    background-color: blueviolet;
    padding: 0.6rem 1.3rem;
    border: 2px solid blueviolet;
    box-shadow: 5px 5px 10px 5px #aaa;
}   

main {
    flex-grow: 1;
    flex: 1;
}

.programacao {
    padding: 2rem;
}

.programacao-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.evento {
    padding: 1rem;
    border: 0.5px #111 solid;
    border-radius: 8px;
}

.evento[data-palco="principal"] {
    background-color: green;
}

.evento[data-palco="arena-warzone"] {
    background-color: red;
}

.evento[data-palco="arena-redsec"] {
    background-color: blue;
}

.evento[data-palco="principal-palestra"] {
    background-color: yellow;
}

.patrocinio {
    max-height: fit-content;
}

.apoio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
}

.apoio img {
    border-radius: 12px;
}

.telemovel {
    display: none;
    margin-top: 10px;
}

fieldset:has(input[value="mbway"]:checked) .telemovel {
    display: block;
}

footer p {
    text-align: center;
    padding: 1rem;
    background: #111;
    color: #fff;
}

.nav-icons {
    background-color: aqua;
    text-align: center;
}
.nav-icons img {
    margin: 10px 5px 0px 0px;
    width: 20px;
}

@media (min-width: 768px) {
    .barra {
        flex-direction: row;
    }
    .programacao-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .nav-icons {
        text-align: end;
    }

    .apoio {
        flex-direction: row;
    }

    .logo {
        width: 75%
    }
}

form div {
    margin: 10px 0px;
}

.form-contactos input {
    border-radius: 5px;
    border: 1px solid #444;
    padding: 5px;
}

